.menu-item {
	text-decoration: none;
	font-size: 16pt;
	color: #777;
	font-weight: 200;
}

.menu-item:hover {
	color: red;
	font-weight: 300;
}


.burger-wrapper-off,
.burger-header-off {
	all: unset;
}
.burger-wrapper-on > hr {
	padding: 0;
    margin: 0;
    width: 100%;
}
.burger-wrapper-off > hr {
	display: none;
}

.burger-wrapper-on {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.burger-header-on {
	display: flex;
    flex-direction: row;
    align-items: center;
    height: 76px;
}

.burger-header-title-on {
	display: flex;
    justify-content: center;
    justify-self: flex-start;
    width: 100%;
}
.burger-header-title-off  {
	display: none;
}
.burger-body-off {
	display: none;
}
.burger-body-on {
	display: flex;
	flex-direction: column;
}
.burger-body-item {
	text-transform: uppercase;
	align-self: anchor-center;
    display: flex;
    font-size: 14pt;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    width: 60%;
    /*padding: 5px;*/
}
.burger-body-item::before {
	content: '';
}

.burger-body-item:hover {
    color: red;
}


.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 32px;
  height: 26px;
  margin: 7px auto;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}