.flip-container {
    perspective: 1000px;
}

.front, .back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front {
    z-index: 2;
}

.rotate-x-180 {
    transform: rotateX(-180deg);
}

.rotate-x360 {
    transform: rotateX(360deg);
}
/* Эффект тряски неверного пинкода */
.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}